.container {
    width: 800px;
    height: 500px;
    margin: auto;
}
.background {
    font-family: sans-serif;
    background: rgb(199, 199, 199);
    width: 800px;
    height: 500px;
}
.background h1 {
    font-size: 48px;
    font-weight: 100;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}
.button {
    margin-top: 6px;
    color: white;
    border: none;
    font-size: 20px;
    background: rgb(116, 223, 255);
    width: 190px;
    height: 60px;
    border-radius: 6px;
}