.content {
    margin: 15px;
    width: 500px;
}
.danger {
    padding: 12px 20px;
    background-color: rgb(255, 165, 165);
}
.succes {
    padding: 12px 20px;
    background-color: rgb(166, 255, 162);
}
.warning {
    padding: 12px 20px;
    background-color: rgb(255, 220, 155);
}
.primary {
    padding: 12px 20px;
    background-color: #a5c9ff;
}