.container {
    width: fit-content;
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
    border-radius: 6px;
    padding: 32px 12px;
}
.margin {
    margin-top: 15px;
}
.buy {
    color: #ffffff;
    background-color: rgb(34, 152, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}
.add {
    color: rgb(34, 152, 255);
    padding: 10px 20px;
    border: none;
    background-color: white;
}
.img {
    border-radius: 6px;
    width: 300px; 
    height: 200px;
}