.container {
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 200px;
    border-radius: 6px;
}
.image-cap {
    padding: 70px 100px;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    background-color: rgb(131, 131, 131);
}
.margin {
    margin: 12px;
}
.btn {
    padding: 8px 28px;
    margin-left: 12px;
    margin-bottom: 12px;
    color: white;
    background: dodgerblue;
    border: none;
    border-radius: 4px;
}