html, body {
    height: 95%;
}
.container {
    text-align: center;
    height: 100%;
}
.header {
    height: 20%;
}
.body {
    display: flex;
    height: 80%;
    padding-top: 8px;
}
.left-sidebar {
    width: 20%;
}
.content {
    width: 80%;
}
.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}