.container {
    width: fit-content;
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
    border-radius: 6px;
}
.infomation {
    margin: 12px;
}
.img {
    border-radius: 6px;
    width: 400px; 
    height: 250px;
}
h5 {
    padding: 2px 6px;
    margin-bottom: 12px;
}
.new {
    display: flex;
}
.box {
    background-color: rgb(163, 255, 183);
    border-radius: 10px;
}
.bed {
    color: rgb(211, 211, 211);
}
.text h4, p {
    font-size: 20px;
    margin: 3px;
}
.star {
    margin-top: 12px;
    display: flex;
}
i {
    color: aqua;
}