.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}
.content {
    width: 500px;
    background-color: rgb(211, 184, 255);
    padding: 50px 50px;
    margin: auto;
    border: 1px solid red;
}
.text {
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 12px;
    background-color: rgb(255, 185, 185);
}
.btn {
    color: white;
    border: none;
    position: relative;
    padding: 12px 32px;
    border-radius: 5px;
}
.btn-delete {
    background-color: rgb(255, 0, 0);

}
.btn-keep {
    background-color: rgb(0, 140, 255);
}
.hover {
    position: relative;
    display: inline-block;
}
.box-chat {
    display: none;
    position: absolute;
    z-index: 1;
    left: 30%;
    bottom: 100%;
}
.icon {
    width: 180px;
    height: 100px;
}
.text-box {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    padding: 10px;
}
.content .hover:hover .box-chat {
    display: block;
}