.container {
    margin-top: 200px;
}
.border {
    border-bottom: 1px solid black;
}
.content {
    margin: auto;
    border: 1px solid black;
    width: 400px;
    border-radius: 6px;
}
.padding {
    padding: 12px 20px;
}